<h1>Company Detail</h1>
<form>
<div class="form-group">
    <label for="Name">Name</label>
    <input class="form-control" type="text" placeholder="company name" ng-model="vm.company.Name"/>
</div>
<div class="form-group">
    <label for="Vat">Vat</label>
    <input class="form-control" type="text" placeholder="vat number" ng-model="vm.company.Vat">
</div>
<div class="btn-group">
    <input type="submit" class="btn btn-primary" ng-click="vm.save()" value="Save" />
    <input type="button" class="btn btn-warning" ng-click="vm.reset()" value="Reset" /> 
    <a class="btn btn-primary" href="#/company">List</a>
</div>
</form>
