<div class="container" style="margin:50px">
	<div class="row">
		<button type="button" class="col-md-6 btn btn-lg btn-primary" ng-click="vm.go('/company')">
			Companies
		</button>
		<button type="button" class="col-md-6 btn btn-lg btn-success" ng-click="vm.go('/invoice')">
			Invoices
		</button>
	</div>
	<div class="row">
		<button type="button" class="col-md-6 btn btn-lg btn-warning"" ng-click="vm.go('/timesheet')">
			Timesheets
		</button>
		<button type="button" class="col-md-6 btn btn-lg btn-primary" ng-click="vm.go('/project')">
			Projects
		</button>
	</div>
</div>